version: 2

updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: yearly
    groups:
      cargo-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: yearly
