[advisories]
ignore = [
  "RUSTSEC-2025-0134",
]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "MPL-2.0",
  "BSD-3-Clause",
  "ISC",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "Zlib",
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
  { path = "LICENSE", hash = 0xbd0eed23 }
]

[bans]
multiple-versions = "allow"

[sources]
allow-git = [
  "https://github.com/DanNixon/emfcamp-schedule-api",
]
